.tabs {
    width: 100vw;
    background-color: #fff;
}

.list {
    width: 100%;
    height: calc(100vh - 145px);
    background-color: #ededed;
    overflow-y: auto;
    padding: 10px 0;
    margin-bottom: 1000px;
}